<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="info.limpet.stackedcharts.editor.StackedchartsEditor"
            default="false"
            extensions=".stackedcharts"
            id="info.limpet.stackedcharts.editor"
            name="Stackedcharts Editor">
      </editor>
   </extension>

</plugin>
