<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="stacked_adapter" name="info.limpet.stackedcharts.adapter" schema="schema/stacked_adapter.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="info.limpet.ui"
            class="info.limpet.stackedcharts.ui.view.StackedChartsView"
            icon="icons/stacked-chart.png"
            id="info.limpet.StackedChartsView"
            name="Stacked Charts"
            restorable="true">
      </view>
   </extension>
</plugin>
