<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="info.limpet.stackedcharts.ui.editor.StackedchartsEditor"
            default="false"
            extensions=".stackedcharts"
            id="info.limpet.stackedcharts.editor"
            name="Stackedcharts Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="info.limpet.ui"
            class="info.limpet.stackedcharts.ui.view.StackedChartsView"
            icon="icons/stacked-chart.png"
            id="info.limpet.StackedChartsView"
            name="Stacked Charts"
            restorable="true">
      </view>
   </extension>
</plugin>
