<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="info.limpet.stackedcharts.ui.editor.StackedchartsEditor"
            default="false"
            extensions=".stackedcharts"
            id="info.limpet.stackedcharts.editor"
            name="Stackedcharts Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="info.limpet.stackedcharts.editor"
            labelProvider="info.limpet.stackedcharts.ui.editor.properties.ChartPropertiesLabelProvider"
            typeMapper="info.limpet.stackedcharts.ui.editor.properties.ChartTypeMapper">
         <propertyCategory
               category="Chart Properties"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="info.limpet.stackedcharts.editor">
         <propertyTab
               category="Chart Properties"
               id="info.limpet.stackedcharts.editor.propertyTab"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="info.limpet.stackedcharts.editor">
         <propertySection
               class="info.limpet.stackedcharts.ui.editor.properties.ChartPropertySection"
               id="info.limpet.stackedcharts.editor.propertySectionChart"
               tab="info.limpet.stackedcharts.editor.propertyTab">
            <input
                  type="info.limpet.stackedcharts.model.Chart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="info.limpet.ui"
            class="info.limpet.stackedcharts.ui.view.StackedChartsView"
            icon="icons/stacked-chart.png"
            id="info.limpet.StackedChartsView"
            name="Stacked Charts"
            restorable="true">
      </view>
   </extension>

</plugin>
